/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;

/*Color*/
$body-background-color: #1f2233;
$grey-darker: #282a3e;
$purple: #BD93F9;
$cyan: #2dd9da;
$yellow: #dfd661;
$pink: #df53cc;
$fushia: #f315d5;

$text: #FFF;
$text-strong : #FFF;

/*Links colors*/
$link: $purple;
$link-hover: $cyan;
$link-visited: $yellow;
$link-active: $pink;
$link-active-border : $fushia;

/*Radius*/
$radius: 10px;
$radius-large: 15px;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";